<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="minicart">
  <h2 class="minicart__title">
    Minicart
  </h2>
  <div id="minicart-products"></div>
  <center>
    <button 
      type="submit" 
      id="checkout" 
      class="cart__checkout-button button"
      name="checkout"
      form="cart"
    >
      {{ 'sections.cart.checkout' | t }}
    </button>
  </center>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    }
    ]
}
{% endschema %}