<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-productsgrid.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-productsgrid.js' | asset_url }}" defer="defer"></script>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
    <div class="row">
        {% for product in section.settings.collection.products %}
            <div class="col-md-3 col-xs-12 myproduct">
                <div class="myproduct__image">
                    <a href="{{product.url}}">
                        <img id="product-main-{{product.id}}" style="max-height: 200px; height: auto;" src="{{ product.media[0] | product_img_url: 'medium' }}">
                    </a>
                </div>
                <div class="myproduct__images">
                    {% for variant in product.variants %}
                        <div 
                            style="background-image: url({{ variant.image.src | product_img_url: 'small' }})" 
                            class="myproduct__box"
                            imagen="{{ variant.image.src | product_img_url: 'medium' }}"
                            product="{{product.id}}"
                            variant="{{variant.id}}"
                            price="{{variant.price | money}}"
                        >
                            &nbsp;
                        </div>
                    {% endfor %}
                </div>
                <div class="myproduct__info">
                    <b>{{ product.title }}</b>
                    <p id="product-price-{{product.id}}">{{ product.price | money }}</p>
                    <b>
                        Variants: 
                        {% for variant in product.variants %}
                            {{ variant.title }}
                        {% endfor %}
                    </b>
                    <br>
                    <a
                        href="#"
                        product="{{product.id}}"
                        variant="{{product.variants[0].id}}"
                        class="myproduct__btn"
                    >
                        Add to Cart
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    }
    ]
}
{% endschema %}