<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<!-- {{ 'section-productpage.css' | asset_url | stylesheet_tag }} -->

<!-- <script src="{{ 'section-productpage.js' | asset_url }}" defer="defer"></script> -->

<div>
    {{ product.title }}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Product"
    }
   ]
}
{% endschema %}