<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
    <div class="row">
        {% for product in collections['all'].products %}
            <div class="col-md-3 col-xs-12 myproduct">
                <div class="myproduct__image">
                    <a href="{{product.url}}">
                        <img id="product-main-{{product.id}}" style="max-height: 200px; height: auto;" src="{{ product.media[0] | product_img_url: 'medium' }}">
                    </a>
                </div>
                <div class="myproduct__images">
                    {% for image in product.images %}
                        <div 
                            style="background-image: url({{ image.src | product_img_url: 'small' }})" 
                            class="myproduct__box"
                            imagen="{{ image.src | product_img_url: 'medium' }}"
                            product="{{product.id}}"
                        >
                            &nbsp;
                        </div>
                    {% endfor %}
                </div>
                <div class="myproduct__info">
                    <b>{{ product.title }}</b><br>
                    {{ product.price | money }}<br>
                    <b>
                        Variants: 
                        {% for variant in product.variants %}
                            {{ variant.title }}
                        {% endfor %}
                    </b>
                    <br>
                    <a href="#" product="{{product.id}}" class="myproduct__btn">Add to Cart</a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
{% javascript %}
    const myProductList = document.getElementsByClassName('myproduct__box')
    for (let i = 0; i < myProductList.length; i++) {
        myProductList[i].addEventListener('mouseover', function (event) {
            const imagen = event.target.attributes.imagen.value // getting img from attibute html
            const productId = event.target.attributes.product.value
            document.getElementById('product-main-' + productId).src = imagen
        });
    }
    const addToCartBtnList = document.getElementsByClassName('myproduct__btn')
    for (let i = 0; i < addToCartBtnList.length; i++) {
        addToCartBtnList[i].addEventListener('click', async function (event) {
            const request = await fetch('/cart/add.js', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    items: [
                        {
                            quantity: 1,
                            id: event.target.attributes.product.value
                        }
                    ]
                })
            });
            console.log('request')
            console.log(request)
        });
    }
{% endjavascript %}
{% stylesheet %}

.myproduct {
    padding: 7px;
}

.myproduct__box {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}

.myproduct__images {
    display: flex;
}

.myproduct__info {
    text-align: center;
}

.myproduct__btn {
    padding: 10px 5px;
    background: black;
    color: white !important;
    text-decoration: none;
    border-radius: 4px;
}

.myproduct__image {
    height: 200px;
}

{% endstylesheet %}
