<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
    <div class="row">
        {% for product in collections['all'].products %}
            <div class="col-md-3 col-xs-12 product">
                <b>{{ product.title }}</b><br>
                <img id="product-main" src="{{ product.media[0] | product_img_url: 'medium' }}">
                <div class="product__images">
                    {% for image in product.images %}
                        <div 
                            style="background-image: url({{ image.src | product_img_url: 'small' }})" 
                            class="product__box"
                        >
                            &nbsp;
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
{% javascript %}
document.querySelector('.product__box').addEventListener('mouseover', function (event) {
    console.log(event.target.style.backgroundImage)
    document.querySelector('#product-main').src = "{{ event.target.style.backgroundImage | product_img_url: 'medium' }}"
});
{% endjavascript %}
{% stylesheet %}
.product {
  // your styles
}
.product__box {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}
.product__images {
    display: flex;
}
{% endstylesheet %}
