<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'section-productpage.css' | asset_url | stylesheet_tag }}

<script src="{{ 'section-productpage.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>
{% assign colors = settings.colors_products | newline_to_br | split: "<br />" %}
{% style %}
    {% for color in colors %}
        {% assign colorObject = color | split: ":" %}
        .bg_{{ colorObject[0] | strip }} {
            background: {{ colorObject[1] }};
        }
    {% endfor %}
{% endstyle %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-md-7 col-xs-12">
            <img
                class="product__image"
                id="product-image"
                src="{{ product | img_url: 'large' }}"
            >
    </div>
    <div class="col-md-3 col-xs-12">
        <b>{{ product.title }}</b>
        <p id="product-price">{{ product.price | money }}</p>
        <b>
            Colores: 
            <div class="product__variants">
                {% for variant in product.variants %}
                    <input 
                        type="radio"
                        id="{{ variant.id }}"
                        name="variant"
                        value="{{ variant.id }}"
                        class="product__variant"
                        data-variant="{{ variant.id }}"
                        data-image="{{ variant.image.src | img_url: 'large' }}"
                        data-price="{{variant.price | money}}"
                    >
                    <label for="{{ variant.id }}" class="product__variant__label bg_{{ variant.title }}">
                    </label>
                {% endfor %}
            </div>
            
        </b>
        <br>
        <br>
        <a
            href="#"
            class="product__btn"
            id="btn-add-cart"
        >
            Add to Cart
        </a>
    </div>
    <div class="col-1"></div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-7">
        <div class="container-slider">
            {% assign slider = product.metafields.my_fields.slider.value %}
            <div 
                class="slider"
                id="slider"
                style="width: {{product.metafields.my_fields.slider.value | size}}00%;"
                data-slider="{{slider | json}}"
            >
                {% for itemSlider in slider %}
                    <div class="slider__section">
                        <img 
                            src="{{ itemSlider.image }}"
                            class="slider__img">
                    </div>
                {% endfor %}
                <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
                <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div id="info">
            Hola mundo
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
        "type": "product",
        "id": "product",
        "label": "Product"
    }
   ]
}
{% endschema %}