<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
    <div class="row">
        {% for product in collections['all'].products %}
            <div class="col-md-3 col-xs-12 product">
                <img id="product-main" src="{{ product.media[0] | product_img_url: 'medium' }}">
                <div class="myproduct__images">
                    {% for image in product.images %}
                        <div 
                            style="background-image: url({{ image.src | product_img_url: 'small' }})" 
                            class="myproduct__box"
                            imagen="{{ image.src | product_img_url: 'medium' }}"
                        >
                            &nbsp;
                        </div>
                    {% endfor %}
                </div>
                <div class="myproduct__info">
                    <b>{{ product.title }}</b><br>
                    {{ product.price | money }}
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
{% javascript %}
    const myProductList = document.getElementsByClassName('myproduct__box')
    for (let i = 0; i < myProductList.length; i++) {
        myProductList[i].addEventListener('mouseover', function (event) {
            const imagen = event.target.attributes.imagen.value // getting img from attibute html
            document.getElementById('product-main').src = imagen
        });
    }
{% endjavascript %}
{% stylesheet %}
.product {
// your styles
}
.myproduct__box {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
}
.myproduct__images {
    display: flex;
}
.myproduct__info {
    text-align: center;
}
{% endstylesheet %}
